<div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
      <div class="search-container">
        <div *ngIf="!canShowSearchAsOverlay" class="normal-search">
          <input type="search" placeholder="Search..." name="search" class="search">
          <i class="fa-solid fa-magnifying-glass search-icon "></i>
        </div>
        <div *ngIf="canShowSearchAsOverlay" class="overlay-search">
          <button [cdkMenuTriggerFor]="searchOverLay" class="search-menu-btn ripple">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
          </button>
      </div>
    </div>
    </div>
    <div class="head-content-right">
      <div class="head-menu">
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <img [src]="'assets/us.jpg'" class="flag" alt="flag">
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="fa-solid fa-expand menu-icon"></i>
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="far fa-bell menu-icon"></i>
          </button>
        </div>
        <div class="head-menu-item">
          <button class="head-menu-item-btn ripple">
            <i class="far fa-comment-alt menu-icon"></i>
          </button>
        </div>
      </div>
      <div class="head-user-avatar-container">
        <div class="head-user-avatar">
          <img [src]="'assets/img/avatar3.png'" class="user-avatar" alt="avatar">
          <div class="circle-indicator pulse"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #searchOverLay>
  <div class="overlay overlay-search overlay-fall" cdkMenu>
    <input type="search" class="search" name="search" id="" placeholder="Search...">
    <button class="search-btn">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
    </button>
  </div>
</ng-template>
